#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "compteur_du_gase"
name = "Le compteur du GASE"
description.en = "Kitty and stock management software for a GASE (Grocery Service Purchasing Group)."
description.fr = "Logiciel de gestion de cagnottes et de stock pour un GASE (Groupement d'Achat en Service Épicerie)."

version = "2025.11.28~ynh1"

maintainers = ["jojo144"]

[upstream]
license = "WTFPL"
code = "https://github.com/Jojo144/compteur_du_gase"

[integration]
yunohost = ">= 11.2"
architectures = "all"
multi_instance = true

ldap = true

sso = true

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.init_home_page_permission]
    type = "group"
    default = "visitors"
    ask.en = "Who should have access the *home page*?"
    help.en = "Setting this to « visitors » and main permission to a restricted group allows anonymous users to view only the home page with next permanences. Phone/emails will be hidden from anonymous users."
    ask.fr = "Qui doit pouvoir accéder à la page d'accueil ?"
    help.fr = "Répondre « visitors » et être plus restrictif pour la permission d'accès principale permet de ne donner un accès public qu'à la page d'accueil, qui contient la liste des permanences.  Les emails et téléphones seront dans tous les cas masqués pour les utilisateurs anonymes."

    [install.admin]
    type = "user"

[resources]
    [resources.sources.main]
    url = "https://github.com/Jojo144/compteur_du_gase/archive/a6ee3696ace6d3102679e7e77a253deb6c7d7d9e.tar.gz"
    sha256 = "9bdf0388f4a1c20f1a8de1353f8f723d3a60f0751de2b0d548456b4f1310d855"

    autoupdate.strategy = "latest_github_commit"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    home_page.url = "re:/$"
    home_page.additional_urls = ["/activité", "/static", "/ynh_auth"]
    home_page.allowed = "visitors"
    home_page.show_tile = false

    main.url = "/"
    # Just a random string to workaround https://github.com/YunoHost/issues/issues/2516
    main.additional_urls = ["/bu6moh3ooNgu1eteng8b"]

    admin.url = "/admin"
    admin.label = "Panneau d'administration"
    admin.allowed = "admins"
    admin.show_tile = false
    admin.protected = true

    [resources.apt]
    packages = [
        "python3-pip",
        "python3-virtualenv",
        "python3-venv",
        "python3-wheel",
        "sqlite3",
        "build-essential",
        "python3-dev",
        "python3-dev",
        "libldap2-dev",
        "libsasl2-dev",
        "ldap-utils",
    ]
